{% extends 'selfservice/plantillabase.html' %}
<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

{% block content %}
<div class="cartadiv">
<p class="cartap"><b>¿QUÉ QUIERES COMER HOY?</b></p>
{% for item in foodlist %}
    {% with 'selfservice/'|add:item.imglink as imgstatic %}
<div class="carta">
        <a target="_blank" href="{%  url 'producto' item.id %}">
            <img class="cartaitem" src="{% static imgstatic %}" width="600" height="400">
        </a>
        <div class="cartatext"><b>{{ item.title }}</b></div>
    </div>
    {% endwith %}
{% endfor %}

<button onclick="pulsaaqui()">pulsa aqui</button>

<script>
    function pulsaaqui(){

        var cookies = document.cookie.split(";");

    for (var i = 0; i < cookies.length; i++) {
        var cookie = cookies[i];
        var eqPos = cookie.indexOf("=");
        var name = eqPos > -1 ? cookie.substr(0, eqPos) : cookie;
        document.cookie = name + "=;expires=Thu, 01 Jan 1970 00:00:00 GMT;path=/;";
    }
    console.log("prueba")
    }
</script>

</div>
{% endblock %}
</body>
</html>