<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<script>



    cart = {'aqui hay que':'meter el json'}
    let url = '/process_order/'
    let configFetch	=	{
        method:	"POST",
        headers:	{	'Content-Type':	'application/x-www-form-urlencoded' },
        body: JSON.stringify("json of item key/value pair")
  }
  fetch(url, configFetch)
    .then((response) => {
        response.json()

        var cookies = document.cookie.split(";");

    for (var i = 0; i < cookies.length; i++) {
        var cookie = cookies[i];
        var eqPos = cookie.indexOf("=");
        var name = eqPos > -1 ? cookie.substr(0, eqPos) : cookie;
        document.cookie = name + "=;expires=Thu, 01 Jan 1970 00:00:00 GMT";
        window.location.href = response.url
    }
    })
</script>
</body>
</html>