<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'selfservice/styles.css' %}">
</head>
<body>
<div class="collapse navbar-collapse" id="navbarResponsive">
    <ul class="navbar-nav ml-auto" style="background-color: #f5ebdc; font-size: large; font-family: cursive;">
        <li class="baseli"><a style="color: black" class="nav-link" href="{%  url 'home' %}"><b>Logo</b></a></li>
        <li class="baseli"><a style="color: black" class="nav-link" href="{%  url 'home' %}"><b>Inicio</b></a></li>
        <li class="baseli"><a style="color: black" class="nav-link" href="{%  url 'carta' %}"><b>Carta</b></a></li>
        <li class="baseli"><a style="color: black" class="nav-link" href="{%  url 'ofertas' %}"><b>Ofertas</b></a></li>
        <li class="baseli"><a style="color: black" class="nav-link" href="{%  url 'vegetal' %}"><b>Vegetal</b></a></li>
        <li class="baseli"><a style="color: black" class="nav-link" href="{%  url 'about' %}"><b>About</b></a></li>
        <li style="margin-left : 10%; width: 180px;"><a style=" color: black;" class="nav-link" href="{%  url 'carrito' %}"><b>Carrito</b></a></li>
    </ul>
</div></br></br></br></br>

{% block content %} {% endblock %}

<div class="footer">
  <p class="footerp">
      <a href="#1">PREGUNTAS FRECUENTES</a>
      <a href="#1">OPINIONES Y SUGERENCIAS</a>
      <a href="#1">INFORMACION LEGAL</a>
      <a href="#1">POLITICAS DE PRIVACIDAD</a>
      <a href="#1">CONFIGURACIÓN DE COOKIES</a>
  </p>
</div>
</body>
</html>